
.ground{
    width: 1200px;
    background-color: aquamarine;

}



.wallpaper{
    width: 300px;
    height: 500px;
    background-color: brown;
    border: 3 solid black;
    border-radius: 10px;
    display: inline-block;

    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;

    margin-bottom: 100px;

}



.picture-style{
    margin: 20px;
    background-color: blue;

    width: 80%;
    text-align: justify;



}

.tekstas{
    font-size: 20px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;


    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px; /* Adjust based on your line-height */
    line-height: 1.1rem;





}

.enter{
    display: block;
}