
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper{
    width: 1fr;
    height: 70vh;



    background-color: greenyellow;
}

.main2{
    width: 100%;
    height: 70vh;



    background-color: rgb(170, 59, 87);
}



.wrapper{
    width: 500px;
    height: 800px;

    margin: 2rem;

    border-radius: 10px;

    overflow: hidden;

    position: fixed;
    right: 1rem;
    bottom: 2rem;

   
 


    border:5 solid blue;


    background-color: rgb(128, 128, 128);
  
}

/* ----------------------------------------------- */

.banner-heeader{
    height: 180px;

    padding-top: 0.5rem;

    display: flex;
    flex-direction:column;
    justify-content:start;
    align-items: center;

    gap: 0.1rem;

    position: relative;

   background-color: white;

  


}

.banner-heeader nav{
    width: 100%;

    padding-left: 1rem;
    padding-right: 1rem;
}



.banner-heeader nav ul{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap:1rem  ;

}

.banner-heeader nav ul li{
   list-style: none;
}



.banner-heeader nav ul li img{
    height: 1rem;
}


.arrow{
    position: absolute;
    left: 5px;
}

.dotted{
    position: absolute;
    left: 80px;
}

.dashed{

    height: 2px;
    width: 1rem;
    object-fit: cover;

    position: absolute;
    right: 10px;
    top: 15px;
}



.assistant-face{
    height: 3rem;

    margin-top: 2rem;

 
    border-radius: 50%;
}


.assistant-name{
    font-weight: bold;
}



/* ------------------------------------------------------------------------- */


.all-messages-wrapper{
    height: 500px;

    margin: 1rem;

    padding: 1rem;

    border-radius: 7px;

    background-color: rgb(233, 230, 226);

  
}

.message-wrapper{
    width: 100%;
  
    margin-bottom: 1rem;
    padding: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 1rem;

    border-radius: 5px;
    overflow: hidden;

    background-color: white;
  
}


.message-wrapper img{
    height: 2rem;

    border-radius: 60%;
}




.conversation-button{
    width: 100%;
    
    height: 3rem;

    margin-top:2rem;


    display: flex;
    justify-content: center;

    padding: 0.5rem;


    position: absolute;

    bottom: 0px;


 
}

/* -----------------------------------------------------------------------  */

.conversation-button button{
    padding: 0.5rem;


 
}
