* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  flex-direction: column;
  gap: 1.2rem;
}

.user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  font-size: 1.4rem;
  font-weight: 500;
}

.intro {
  text-align: center;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.technology {
  background-color: rgb(236, 236, 236);
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
