



button {
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  cursor: pointer;
  transition: 2.3s;
}
 
button:hover {
  background-color: rgb(162, 162, 162);
}