






header{
    background-color: aqua;
    height: 100px;
}


main{
 
    height: 500px;
    font-size: 0;
}

.left-side-section{
    width: 30%;
    background-color: red;
    height: 100%;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}
  

.right-side-section{
    width: 70%;
    background-color: green;
    height: 100%;
    display: inline-block;
    font-size: 16px;
    vertical-align:middle ;
}





footer{
    background-color: blueviolet;
    height: 100px;
}

