/* *{
    margin: 0;
    padding: 0;
}
 */

.wallparer{
    /* width: 1fr; */
    background-color: aqua;

    width: 60%;

    margin: auto;

    padding: 2rem;


    display: flex;
    flex-direction: column;

    gap: 1rem;

  
}


 




h1{
    text-align: center;   

}






button{
    background-color: azure;
 
    margin-top: 1rem;

    transition: 0.3s;
    

 

 
}

button:hover{
    background-color: rgb(38, 38, 56);
}

button:active{
    scale: 0.95;
}