* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.page-wrapper {
    background-color: bisque;
    height: 100vh;


}

header {
    background-color: green;
    height: 300px;
    margin-top: 3rem;



}



























.picture-position {
    height: 100px;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;


}

.text-position {
    text-align: center;
}

.elements-wrapper {
    background-color: white;
    margin-top: 0rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: center;

    grid: 3rem;
}

.element {
    display: flex;
    flex-direction: row;
    margin: 0rem;
    padding-inline: 2rem;
    padding-top: 0rem;


}

.main {
    background-color: blue;
    height: 300px;


}