* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.page-wrapper {
 
    height: 1000px;
    width: 600px;


    background-color: beige;

    padding: 1rem;


}

.header-group {
    width: 100%;
    height: 200px;
    margin-top: 3rem;
    margin-bottom: 1rem;


    display: flex;
    flex-direction: column;

    justify-content:space-evenly;
  
    align-items: center;
    gap: 0.5rem;

    background-color: white;
  
}



.header-group img{
    width: 500px;
    height: 40%;
    object-fit: cover;

    text-align: center;


}


.header-group ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.header-group ul li{
    list-style: none;
}

.header-group ul li a{
    text-decoration: none;
    color: black;
    
}


.header-group ul li a:hover{
    text-decoration: underline;
}






.main-wrapper{
    height: 600px;
    
    width: 100%;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

   background-color: white;
  
 
}

.main-wrapper img{
    height: 50%;
    width: 100%;

    object-fit: cover;

}

.main-wrapper p{
    text-align: justify;
} 

