.text {
  color: red;
}

.square {
  background-color: #34d8eb;
  width: 200px;
  height: 200px;
  color: white;
}

.figure-1 {
  background-color: blue;
  width: 90%;
  height: 120px;
  color: white;
}

#figure-2 {
  background-color: gray;
  width: 300px;
  height: 100px;
  border-radius: 8px;
}

.figure-3 {
  width: 400px;
  height: 400px;
  border: rgb(129, 83, 83) solid 6px;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1.1;
  text-align: center;
}

.important-text {
  color: red;
  border: 1px solid blue;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: tomato;
  border-radius: 50%;
}

.dog-img {
  width: 80%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  border: 6px solid green;
}

.banner {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  background-image: url("./vilage.png");
  background-size: cover;
  color: white;
  text-align: center;
}
