



.backgroud{
    background-color: blueviolet;
    height: 700px;
    
}

header{
    height: 50px;
    vertical-align: top;
}





.content-border{
    background-color:brown;
    border: 3px dotted yellow;
    width: 40%;
    height: 80%;
    margin: auto;
    text-align: center;
  
    


}

.content-box{
    width: 95%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;

  
 }

/*--------------------------------------------------------------------*/

.content-head-box{
    height: 60%;
 }



.main-head{
    color: yellowgreen;
}

.paragraph{
    font-size:smaller;
    text-align: justify;
    color: rgb(37, 155, 56);
    
}

.capital-letter{
    font-size: 50px;
    display: inline;
}


.paragraph{
    font-size:smaller;
    text-align: justify;
    
}

.capital-letter{
    font-size: 50px;
    display: inline;
}

/*--------------------------------------------------------------------*/




.bottom-image{
    height: 38%;
    text-align: center;
    border: 10px solid;

    border-radius: 20px;
    border-top-color: white;
    border-right-color:  black;
    border-bottom-color:  green;
    border-left-color:  blue;



}





