

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wallpaper{
    width: 1000px;
 
    padding: 2rem;

    padding-left: 5rem;

    background-color: bisque;

}




.articles-walpaper{
    width: 100%;
    height: 400px;


}


.separator{

    text-align: center;

    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.separator hr{
    width: 100%;
}


.separator-name{
     padding-left: 1rem;
    padding-right: 1rem;




       
}

.preambule {
  position: relative;
  height: 50px;
  
  margin-bottom: 1rem;
}

.preambule h4{
    position: absolute;
    bottom: 0;    /* push to bottom */

 
}



article{

    width: 30%;
    height: 100%;

    display: inline-block;

    background-color: white;

    border-radius: 4px;

}

.left-side-aticle{
    text-align: left;
}




.ceter-article{
    margin-left:2rem ;
    margin-right: 2rem;

 


}

.right-side-aticle{
    text-align: right;
 
}



article h2{
    color: red;
    text-align: center;

    padding: 2rem;
}

article h4{
    padding: 2rem;
}
