:root {
    --main-bgr-color: rgb(43, 43, 43);
    --main-color: white;
    --main-spacing: 1.2rem;
    --img-height: 300px;
    --main-height:120vh;
}






* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/* layer 1 */
.main-wrapper {

    height: var(--main-height);

    padding: 1rem;

  
   

    color: var(--main-color);


    background-color: var(--main-bgr-color);


}


/* ------------------------------------------------------------------------------------------- */


/* layer2 */
header {
    width: 100%;
    height: 35%;







    background-color: white;
}

.nav-wrapper {
    height: 60px;
    width: 100%;

    margin-bottom: 0.5rem;

    padding: 1rem;




    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;


/*  ??????????????????? */

    /* position: fixed;
    top: 0; */


 
  

    background-color: rgb(168, 235, 124);
}


.nav-wrapper nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */



}





.nav-wrapper nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    list-style-type: none;


}

.nav-wrapper nav ul li a {
    text-decoration: none;

    color: var(--main-color);




}




.nav-wrapper nav ul li button a {
    text-decoration: none;

    background-color: var(--main-bgr-color);
    color: var(--main-color);


}





.burger-btn {
    all: unset;

    cursor: pointer;

    display: flex;
    align-items: center;

    display: none;
 
}

.burger-btn img {

    width: 1rem;
    height: 1rem;

}


/* **************************************** */
/* hidden styles  */
/* show on burger button click */
.burger-btn img:hover + .hidden-nav-wrapper{
   width: 100px;

    padding: 5px;

 
    position: absolute;
     top: 70px;
    right: 20px;
    z-index: 1;

  
    border: 2px dotted blue;


       display:block;
}




.hidden-nav-wrapper{
 
    display:none;

 }

.hidden-nav-wrapper ul{
   list-style-type: none;    
}

.hidden-nav-wrapper ul li a {
    text-decoration: none;

    color: var(--main-color);

}

.hidden-nav-wrapper ul li button a {
    text-decoration: none;

    background-color: var(--main-bgr-color);
    color: var(--main-color);


}
/* ******************************************************************* */


/* layer3 */
.articles-wrapper {
    width: 100%;
    height: 85%;

    position: relative;


    background-color: rgb(168, 235, 124);
}



/* layer 4.0 */
.small-article-wrapper {
    width: 150px;

    margin: 0.5rem;
    padding: 0.5rem;

    /* 
    display: inline-block; */

    position: absolute;
    left: 30px;
    top: 20px;


    background-color: rgb(53, 192, 197);

}



.small-article-wrapper h3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.underline-in-small {

    display: flex;
    justify-content: left;
}

.underline-in-small hr {
    width: 2rem;
}


/* layer 4.1 */
.big-article-wrapper {
    width: 300px;

    margin: 0.5rem;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 50px;
    bottom: 10px;


    background-color: rgb(53, 192, 197);
}

.big-article-wrapper h4 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.underline-in-big {

    display: flex;
    justify-content: center;
}

.underline-in-big hr {
    width: 2rem;

    margin: 0.5rem;
}

.big-article-wrapper p {
    text-align: justify;
}



/* ------------------------------------------------------------------------------------------------------ */

/* layer2 */
main {
    width: 100%;
    /* height: 75%; */

    background-color: white;
}

/* layer3 */
.main-box-wrapper {
    width: 100%;
    /* height: 60%; */

    padding-top: 2rem;

    background-color: rgb(168, 235, 124);
}

/* layer 4 */
.main-name-wrapper {
 

    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;



    background-color: rgb(53, 192, 197);
}


/* layer 4 */
.beautifull-places {
    width: 100%;
 

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 1rem;

 
    background-color: rgb(53, 192, 197);

    background-color: red;
}




/* layer5 */

.beautifull-places section {
   min-width: 284px;
 


}



.beautifull-intro{
    width: 100%;
    height: var(--img-height);
  

 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;


    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    padding-bottom: 0.5rem;

    color: var(--main-color);

    text-align: center;


}

/* picture undeline */
.section-underline{
    /* width: 100%; */
    padding-bottom: 0.5rem;
    color: var(--main-color);
    text-align: center;
}




/* show when hover on picture name */
.more-detail{
    display: none;
}


.beautifull-intro div:hover + .more-detail{
   width: 100%;

    color: var(--main-color);
    border-radius: 10px;

    position: absolute;
    top:var(--img-height);
    z-index: 1;


    background-color: grey;
    /* border: 4 dashed red; */


    display: block;




}





.image1 {
    background-image: url(./images/paluse.jpg)
}

.image2 {
    background-image: url(./images/ginuciai.jpg)
}

.image3 {
    background-image: url(./images/vaisniunai.jpg)
}

.image4 {
    background-image: url(./images/ladakalnis.jpg)
}





/* layer4 */
.subscription-wrapper {
    width: 100%;
    height: 30%;

    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.2rem;

  

    position: fixed; 
    z-index: 2;
 

  


    background-color: rgb(53, 192, 197);
}

.subscription-wrapper h2 {

    font-size: 2rem;
}

.subscription-wrapper input {
    width: 60%;

    margin: 0.5rem;
    padding: 0.2rem;

    font-size: 1.3rem;
    font-weight: 600;


    border: 2 solid orangered;

}

.subscription-wrapper button {
    height: 2.5rem;


    margin: 0.5rem;
    padding: 0.2rem;

    font-size: 1.5rem;

    border-radius: 5px;
    background-color: green;

    border: 3px solid white;
}

/* -------------------------------------------------------------------------------------- */









/* screen spacing */


@media (max-width: 1200px) {
    
    .main-wrapper {

    height: var(--main-height + --img-height);

    }

    
    
    
    .beautifull-places {
        grid-template-columns: 1fr 1fr;
    }


}


@media (max-width: 768px) {


    .nav-wrapper nav ul {
        display: none;
    }



    .burger-btn {
        display: inline;
    }

 
}

