.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  margin: auto;
  padding-top: 2rem;
}

.form input {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid gray;
  margin-top: 0.5rem;

  outline: 0;
}

.form button {
  padding: 0.5rem;
  background-color: rgb(231, 231, 231);
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: 0.3s;
}

.form button:hover {
  background-color: rgb(221, 221, 221);
}

.form button:active {
  background-color: rgb(215, 215, 215);
  scale: 0.95;
}
