body {
  margin: 0px;
}

.parent {
  height: 110vh;
  background-color: green;
}

.child {
  width: 200px;
  height: 200px;
  background-color: red;
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}

.absolute {
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
}

/*  */

.parent-2 {
  height: 120vh;
  background-color: rgb(0, 83, 128);
  padding-top: 2rem;
}

.product {
  width: 160px;
  height: 220px;
  background-color: aliceblue;
  margin-left: 2rem;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.discount {
  width: 40px;
  height: 40px;
  background-color: blueviolet;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.product img {
  width: 100%;
}
