body {
  margin: 0;
}


@font-face {
  font-family: "BebasNeue-Regular";
  src: url("./fonts/BebasNeue-Regular.ttf");
}

h1 h2 h3 h4 h5 h6{
  all: unset;
}

header {
  height: 100px;
  background-color: khaki;
}

main {
  height: 500px;
  background-color: burlywood;
  font-size: 0;
}

footer {
  height: 100px;
  background-color: rgb(91, 84, 74);
}

.left-side-section {
  width: 20%;
  background-color: blue;
  height: 100%;
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}

.right-side-section {
  background-color: green;
  height: 100%;
  width: 70%;
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;

  font-family: "BebasNeue-Regular";
  font-weight: 700;
  font-style: normal;
}

.center {
  width: 100px;
  height: 100px;
  background-color: aqua;
  margin: auto;
}