


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.bacground-paper{
    width: 1500px;

    height: 800px;

}

article{

    height : 500px;
    width: 550px;

    margin:20px ;

 
    display: inline-block;


 
    
}


article img{

    width: 100%;

    height: 300px;

    object-fit: fill;

  
 
}

.image-name{
    padding-top: 10px;
    padding-bottom: 10px;

    color: cornflowerblue;

}



.image-number{
    color: red;
    font-weight: 400;
}


.facebook-icon{
    height: 1rem;
    width: 1rem;

    border-radius: 50%;
 
}


.followers{
    font-size: 0.9rem;
    color: grey;
 
}
