/* my variables */
:root {
    --min-pg-width: 350px;
    --max-pg-width: 1600px;
    --min-pg-height: 500px;

    --bgr-color1: rgb(255, 232, 186);
    /* top and bottom brg */
    --bgr-color2: rgb(230, 216, 249);
    /* middle (shop) brg */
    --main-color: black;

    --main-spacing: 2rem;
    --central-gap: 4rem;

    --big-border-radius: 100px;
    --small-img-radius: 10px;

    --good-image-size: 300px;
}

/* restart margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------------------------------------------------------------------------- */
/* main font style */
@font-face {
    font-family: "Science Gothic Variable";
    src: url("./assests/fonts/Science_Gothic/ScienceGothic-Light.ttf");
}

body {
    font-family: "Science Gothic Variable";
}
/* resset styles */
h1 h2 h3 h4 h5 h6 button {
    all: unset;
}

/* h base font sizes*/
h1 {
    font-size: 90px;
    font-weight: 100;
    line-height: 1;
    letter-spacing: -3px;
}

h2 {
    font-size: 60px;
    font-weight: 100;
    line-height: 1;
    letter-spacing: -3px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 17px;
}

button {
    background-color: var(--bgr-color1);

    border: none;
}

button:hover {
    cursor: pointer;
}
/* standart button style ------------------------------*/
.standart-btn {
    padding: 0.8rem 1.8rem;

    border-radius: var(--big-border-radius);
    border: 1px solid black;
}

/* standart good image style */
.standart-good-img-style {
    object-fit: cover;

    border-radius: var(--small-img-radius);
}

/* ------------------------------------------------------------------------------------- */

body {
    min-width: var(--min-pg-width);
}

.main-wrapper {
    min-height: var(--min-pg-height);
    padding: 2rem;
}

/* ******************************************************************************************** */
/*      SECTION 1                                                                               */
/* ******************************************************************************************** */
.section-wrapper1 {
    /* height: 400vh; */

    /* padding: var(--main-spacing);
    padding-top: 0.5rem; */
    background-color: var(--bgr-color1);

    background-color: goldenrod;
}

/* Header navigation block ---------------------------------------------------*/
.header-wrapper {
    height: 80px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    border-bottom: 1px solid var(--main-color);
    padding: var(--main-spacing);
    background-color: var(--bgr-color1);

    background-color: aqua;
}

/* left  side ------------------------------ */
.left-side-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
}

.burger-btn {
    width: 5rem;
}

.burger-btn img {
    width: 3rem;
}

/* middle ---------------------------------- */
.middle-wrapper ul {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--main-spacing);

    list-style: none;
}

.middle-wrapper ul li a {
    text-decoration: none;

    color: var(--main-color);
    font-size: 1.2rem;
}

/* rigt side --------------------------------- */
.rigt-side-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
}

.eshop-troley {
    all: unset;
    height: 1.7rem;
    width: 1.7rem;
}

/*  END of header navigatio block  ------------------------------------------ */

/* Introduction------------------------------------------------------------- */
.article {
    height: 1100px;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: var(--main-spacing);

    background-color: var(--bgr-color1);

    background-color: blueviolet;
}

.article h1 {
    height: 30%;
    text-align: center;
    padding-top: 3rem;
    padding-top: 3rem;
}

.article img {
    width: 100%;
    height: 70%;
    object-fit: cover;

    border-radius: var(--big-border-radius);
}

/* intro text column */
.intro-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;

    padding: var(--main-spacing);
    background-color: var(--bgr-color1);

    background-color: aqua;
}

.intro-wrapper h2 {
    display: flex;
    align-items: center;
}

.rightside-intro {
    display: flex;
    flex-direction: column;
    gap: var(--main-spacing);
    grid-column: 3 / 4;
}

.rightside-intro button {
    align-self: flex-start;
}

.rightside-intro button img {
    height: var(--good-image-size);
}
/* offer block ------------------------------------------- */
/* offer left-side ---------*/
.offer-wrapper {
    height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: var(--bgr-color1);

    /* background-color: cornflowerblue; */
}

.offer-left-side {
    width: 100%;

    display: flex;
    justify-content: end;

    flex: 1;

    background-color: chartreuse;
}

.offer-left-side img {
    object-fit: cover;

    border-radius: var(--small-img-radius);
}

/* offer right side ------------ */
.offer-right-side {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    flex: 1;

    gap: 1rem;

    padding-left: 10rem;

    background-color: aquamarine;
}

.offer-right-side img {
    width: 10%;

    background-color: blue;
}

.offer-right-side button {
    background-color: yellow;
}

/* END OF SECTION1 ********************************************************************************************** */

/* ******************************************************************************************** */
/*      SECTION 2                                                                               */
/* ******************************************************************************************** */
.section-wrapper2 {
    padding: var(--main-spacing);
    padding-top: 3rem;

    background-color: var(--bgr-color2);
}

.shop-wrapper {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.shop-nav {
    display: flex;
    flex-direction: column;
    gap: var(--main-spacing);
}

.good-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    gap: 1rem;
}

.good-wrapper img {
    width: 100%;
}
