@font-face {
  font-family: "BungeeSpice-Regular";
  src: url("./fonts/BungeeSpice-Regular.ttf");
}

body {
  margin: 0;
}

.wrapper {
  background-color: bisque;
  height: 800px;
}

.content-wrappper {
  /* border: 2px black solid; */
  width: 80%;
  height: 200px;
  margin: auto;
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.text-wrapper {
  /* border: red 2px solid; */
}

.text-wrapper {
  text-align: left;
}
