.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;

  justify-items: center;
  align-content: center;

  height: 500px;
}

.banner {
  width: 200px;
  height: 300px;
  background-color: gold;
  border-radius: 1rem;
}
