.background{
    background-image: url(./images/background.jpg);
    height: 100%;

    background-size: cover;


    color: white
 


}



 


.space{
 
    height: 40px;
}




.button {

    width: 200px;
    height: 50px;

    line-height: 50px;
    text-align: center;

    border: 2px solid white;
    border-radius: 5px;


}


