* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.wrapper {
  font-size: 0;
}

.article {
  height: 200px;
  width: 120px;
  background-color: burlywood;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  vertical-align: top;
}

.article-2 {
  height: 180px;
  width: 160px;
  background-color: rgb(245, 245, 245);
  display: inline-block;
  font-size: 16px;
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-right: 15px;
  vertical-align: top;
  /* border: 2px solid red; */
  /* padding: 20px; */
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}

.article-img {
  width: 100%;
}

.text-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  font-size: 13px;
  font-weight: 500;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 34px; /* Adjust based on your line-height */
  line-height: 1.1rem;
}

.date {
  margin-top: 10px;
  font-size: 9px;
}

.square {
  width: 200px;
  height: 200px;
  background-color: blanchedalmond;
  text-align: center;
}
