


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background-color: rgb(208, 209, 207);
}

.wrapper{
    width: 1200px;
    height: 500px;

    margin: 2rem;

    padding: 1rem;

    border-radius: 10px;

    background-color: white;

 
}


header{
    height: 200px;
    width: 100%;

  

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    gap: 2rem;


    border: 3px dotted green;

    border-radius: 5px;


 
    background-color: rgb(208, 209, 207);
 


}

header img{
    width: 80px;

}

header h3{
    text-align: center;

  
}

.main-wrapper{
    height: 300px;
    width: 100%;

   
    display: flex;

    justify-content: space-between;



 

    padding: 1rem;
   
}


.banner-wrapper{
 
    width: 250px;

    height: 200px;

    margin-top: 1rem;

    border-radius: 10px;

    overflow: hidden;

    background-color: rgb(204, 204, 214);
    

}

.banner-wrapper h3{
    width: 1rem;
    /* text-align: right; */

    position: relative;
    right: -220px;    
   
 
}

.banner-wrapper img{
    height: 100%;
    width: 100%;
    
    object-fit: fill;

 
}
