.square {
  width: 200px;
  height: 200px;

  animation-name: square-animation;
  animation-duration: 3s;
  animation-iteration-count: 3;
  /* animation-iteration-count: infinite; */
  /* animation-delay: 2s; */

  animation-fill-mode: forwards;

  /* animation-timing-function: ease-out; */
}

@keyframes square-animation {
  0% {
    background-color: brown;
  }

  50% {
    background-color: rgb(161, 165, 42);
    width: 300px;
  }

  100% {
    background-color: brown;
    width: 200px;
  }
}
