@font-face {
    font-family: "BungeeSpice-Regular";
    src: url("./fonts/BungeeSpice-Regular.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* all: unset; */
}

/* Reset all styles */
h1 h2 h3 h4 {
    all: unset;


}







/* New sizes of fonts */
h1 {
    font-size: 200px;
    font-family: "BungeeSpice-Regular";
    font-weight: 700;
    font-style: normal;

}

h2 {
    font-size: 80px;



}

h3 {
    font-size: 36px;
    margin: 0;

}

h4 {
    font-size: 24px;

}


/* NEW FONT */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/* Background */
/* ---------------------------------------------------------------------------------- */
.background-paper {
    width: 1000px;
    height: 700px;



    background-image: url(./images/background.jpg);
    background-size: cover;

    color: white;

}

/* ---------------------------------------------------------------------------------- */





/* manin topic */

.advertisment-name {

    width: 100%;



}



.red-block-in-line {

    background-color: red;

    display: inline-block;




}

.red-block-in-line h4 {
    text-align: center;
}

.in-line {
    display: inline-block;

    vertical-align: top;

}


.description {
    width: 100%;

}

/* ---------------------------------------------------------------------------------- */



/* Navigation */


.nav-group {

    width: 500px;

    height: 50px;


}







.nav-group button img {
    display: inline-block;

    height: 70%;

    vertical-align: middle;


}




.play-text {
    display: inline-block;


    text-align: center;

    vertical-align: middle;

}


.more-info-text {
    display: inline-block;


    text-align: center;

    vertical-align: middle;

}


.button-play {
    background-color: white;
    color: black;

    width: 200px;
    height: 100%;
    display: inline-block;

    border-radius: 5px;



}

.button-more-info {
    background-color: grey;
    color: white;

    width: 200px;
    height: 100%;
    display: inline-block;

    border-radius: 5px;



}