* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

    /* all: unset; */
}

/* Reset all styles */
h1 h2 h3 h4{
    all: unset;
}





/* New sizes of fonts */
h1{
    font-size: 200px;
    
}

h2{
    font-size: 80px;
    
}

h3{
    font-size: 36px;
    margin: 0;
    
}

h4{
    font-size: 24px;
    
}


/* Background */
/* ---------------------------------------------------------------------------------- */
.background-paper{
    width: 1000px;
    height: 700px;
    
    
    
    background-image: url(./images/background.jpg);
    background-size: cover;

    color: white;

}/* ---------------------------------------------------------------------------------- */





/* manin topic */

.advertisment-name{

    width: 100%;

    /* height: 60px; */

 
    background-color: rgb(20, 173, 89);

}



.red-block-in-line{
 
    background-color:red;

    display: inline-block;

    


}

.in-line{
   display: inline-block;

   vertical-align: top;

}


.description{
    width: 100%;

    background-color: aquamarine;
}

/* ---------------------------------------------------------------------------------- */



/* Navigation */


.nav-group{

    width: 100%;

    height: 50px;

  




    background-color: rgb(207, 221, 214);

}



.nav-group button img{
    display: inline-block;

    height: 100%;
    
        
    background: none;
}


.nav-group button h3{
    display: inline-block; 
    height: 100%;
    

    vertical-align: top;
    
}


.button-play{
    background-color: white;
    color: black;
    height: 100%;
}

.button-more-info{
    background-color: grey;
    color: white;
    height: 100%;
   
}






