
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* all: unset; */
}

/* Reset all styles */
h1 h2 h3 h4 {
    all: unset;


}







/* New sizes of fonts */
h1 {
    font-size: 200px;
 
}

h2 {
    font-size: 80px;



}

h3 {
    font-size: 36px;
    margin: 0;

}

h4 {
    font-size: 24px;

}






/* Background */
/* ---------------------------------------------------------------------------------- */
.background-paper {
    width: 1000px;
    height: 700px;



    background-image: url(./images/background.jpg);
    background-size: cover;

    color: white;


    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;  

}

/* ---------------------------------------------------------------------------------- */





/* manin topic */




.red-block-in-line {

    background-color: red;

    display: inline-block;




}

.red-block-in-line h4 {
    text-align: center;
}

.in-line {
    display: inline-block;

    vertical-align: top;

}


.description {
    width: 100%;

}

/* ---------------------------------------------------------------------------------- */



/* Footer navigation */






footer nav button img {
    display: inline-block;

    height: 50px;

    vertical-align: middle;


}




.button-name {
    display: inline-block;


    vertical-align: middle;

}




.button-play {
    background-color: white;
    color: black;

    width: 200px;
    height: 100%;
 

    border-radius: 5px;



}

.button-more-info {
    background-color: grey;
    color: white;

    width: 200px;
    height: 90%;
 

    border-radius: 5px;



}

.button-more-info img{
    border-radius: 45%;

}